@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&family=Oswald:wght@300;500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.logo:hover{
  cursor: pointer;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;

}
.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;

}

.navigation .btnLogin-popup:hover{
  background: #fff;
  color: #162938;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #B0A2AE, #ECB3AD, #E1A6AF, #95ABCC, #C9ADBF);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.cloud{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(album/cloud.png);
  background-size: cover;
  animation: animate 60s linear infinite;
  opacity: 0.5;
}

@keyframes animate
{

  0%{
    background-position: 0px;

  }
  100%
  {
    background-position: 5440px;
  }
}



.loginform{
    z-index: 100;
    position: absolute;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    transform: scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    overflow: hidden;
}
.loginform .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 2em;
  color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.active-loginform{
  visibility: visible;
  transform:  scale(1);
  transition: 0.3s ease-in;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
h1 img{
  width: 300px;
  margin-bottom: -45px;
}

.lyrics{
  z-index: 0;
}

.lyrics:hover{
  cursor: pointer;
}

h3 {
  font-family: "Montserrat Medium";
  font-size: 100px;
  color: white;
  max-width: 40ch;
  text-align: left;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  opacity: 0.5;


}

h5 {
  font-family: "Montserrat Medium";
  font-size: 50px;
  color: white;
  max-width: 40ch;
  text-align: right;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  opacity: 0.5;
  margin-top: -30px;
  margin-left: 350px;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}

input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.forget {
    margin: 50px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
 
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

.button:hover {
  background-color: rgb(255, 255,255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.check {
    z-index: 101;
    width: 380px;
    border: 2px solid white;
    background-image: url("album/lover.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 6px;
    position: absolute;
    top: 45%; /*45*/
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  
  
  } 
  
  .open-check{
    visibility: visible;
    top: 45%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s ease-in;
  
  }
  .close-check{
    visibility: hidden;
    top: 45%;
    transform: translate(-50%, -50%) scale(0.1);
  
  }
  
  .check img.tick{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .check h2{
   font-size: 50px;
   font-weight: 500;
   margin: 30px 0 10px;
   font-family: 'Satisfy', cursive;
   color:#e199b7;
   text-shadow: 0 0 10px #721e40;
  
  }
  .check p{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px #721e40;
  }
  .check button{
    width: 300px;
    margin-top: 50px;
    padding: 10px 0;
    background: #e54798;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  
  }
  
  .again {
    z-index: 101;
    width: 380px;
    background-image: url("album/red.jpg");
    background-size: cover;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 6px;
    position: absolute;
    top: 50%; /*45*/
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid white;
  
  } 


  .open-again{
    visibility: visible;
    top: 45%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s ease-in;
  
  }
  .close-again{
    visibility: hidden;
    top: 45%;
    transform: translate(-50%, -50%) scale(0.1);
  
  }
  
  .again img.x{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .again h2{
   font-size: 50px;
   font-weight: 500;
   margin: 30px 0 10px;
   font-family: 'Oswald', sans-serif;
   color:#972b2d;
   text-shadow: -1px 2px 1px #e7d5c4;
  
  }
  .again p{
    font-size: 20px;
    color: white;
    text-shadow: -1px 2px 1px #721e40;
  }
  .again button{
    width: 300px;
    margin-top: 50px;
    padding: 10px 0;
    background: #b41e28;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  
  }
  
  .reset {
    z-index: 101;
    width: 380px;
    border: 2px solid white;
    background-image: url("album/folklore.jpeg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 6px;
    position: absolute;
    top: 45%; /*45*/
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  
  
  } 
  
  .open-reset{
    visibility: visible;
    top: 45%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s ease-in;
  
  }
  .close-reset{
    visibility: hidden;
    top: 45%;
    transform: translate(-50%, -50%) scale(0.1);
  
  }
  
  .reset img.x2{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .reset h2{
   font-size: 50px;
   font-weight: 500;
   margin: 30px 0 10px;
   font-family: 'IM Fell DW Pica', serif;
   color:#727475;
   text-shadow: -2px 3px 5px #ffffff;
  
  }
  .reset p{
    font-size: 20px;
    color: white;
    text-shadow: -1px 2px 2px #000;
  }
  .reset button{
    width: 300px;
    margin-top: 50px;
    padding: 10px 0;
    background: #6f6f6f;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  
  }

  .remember input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .remember label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
  }

  .remember label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid white;
    border-radius: 6px;
    z-index: -1;
  }

  .remember input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: white;
   
  }
  .remember input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background-color: transparent;
    border-color: white;
    backdrop-filter: blur(55px);
  }

  .remember label,
  .remember label::before {
    transition: 0.25s all ease;
  }


@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
